body { box-sizing: border-box; }
body * { box-sizing: inherit; }

.loading { opacity: 0; transition: opacity .2s ease-out; }


button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	color: inherit;
	border-radius: 3px;
	background: #ddd;
	border: 1px solid #bbb;
	position: relative;
	margin-bottom: 1px;
}

button[outline] { background: none; }

button:focus,
button:hover { background: #bbb; }

button:active {
	background: #aaa;
	transform: translateY(1px);
	margin-bottom: 0;
}
