html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }

body { box-sizing: border-box; background: #666;
	font: normal 1em sans-serif;
}

body * { box-sizing: inherit; }


header {
	display: flex;
	height: 32px;
	align-items: center;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}
header month-picker { height: 100%; flex: 1; margin-right: 1px; }
header year-picker { height: 100%; width: 100px; }







button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	color: inherit;
	border-radius: 3px;
	background: #ddd;
	border: 1px solid #bbb;
	position: relative;
	margin-bottom: 1px;
}

button[outline] { background: none; }

button:focus,
button:hover { background: #bbb; }

button:active {
	background: #aaa;
	transform: translateY(1px);
	margin-bottom: 0;
}
