@import "_lib"

.year-picker
	-moz-user-select none
	user-select none
	font inherit
	display flex
	position absolute
	top 0
	right 0
	height 100%
	width 100px
	background-color #fffe

	input
		appearance textfield
		-webkit-appearance textfield
		-moz-appearance textfield
		border none
		text-align center
		font inherit
		min-width 3em
		padding 3px 0 1px
		height 100%
		background-color transparent
		flex 1

	button
		background-color transparent
		box-sizing border-box
		border none
		height 100%
		padding-bottom 1px
