@import "lib"

.year-month-picker
	position relative
	user-select none
	font 20
	display flex
	align-items stretch
	justify-content start
	padding 2 0 0
	height 49
	background bg-dark

	.btn-outline
		margin 10

	.day
		height 100%
		width 110
		display flex
		align-items center
		justify-content center
		padding 1 10 0

	&.is-today .btn-today
		opacity 0
		pointer-events none
