@import "lib"

.year-month-picker
	position relative
	user-select none
	font 20
	display flex
	align-items stretch
	justify-content center
	padding 2 0 0
	height 49
	background bg-dark

	.btn-outline
		margin 10
		font-size 30px
		line-height 20px
		padding 0 6 6

	.btn-today
		padding 6 2 0

	.day
		height 100%
		width 170
		display flex
		align-items center
		justify-content center
		padding 0 10

	&.is-today .btn-today
		opacity 0
		visibility hidden
		pointer-events none
