@import "lib"


.form
	position relative
	box-shadow 0 2px 2px #0006
	z-index 100

	.form-row
		background #fff
		textarea
			flex 1
			padding 10
			margin 10 0
			height 1.1em
			box-sizing content-box

	.form-footer
		background #ccc
		border-top #aaa
		padding 10 20

		button
			margin-left 10


		.btn-remove
		.btn-reset
			margin-left 0
