#main {
	--header-h: 40px;
	--margin: 20px;

	position: absolute;
	top: calc(var(--header-h) + var(--margin));
	left: var(--margin);
	right: var(--margin);
	bottom: var(--margin);
	background: #ffffffdd;
}

