@import "lib"


.form
	position relative
	z-index 100
	margin-top 1px

	.form-row
		background bg-superlight
		textarea
			flex 1
			padding 10
			margin 10 0
			height 1.1em
			box-sizing content-box

	.form-footer
		background bg-dark
		border-top border-light
		padding 10 20

		button
			margin-left 10


		.btn-remove
		.btn-reset
			margin-left 0
