@import "lib"

#app
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	padding 0 0 0 300px
	overflow-y auto
	display flex
	flex-flow column
	transition padding .3s ease-out

	background color-bg-dark3
	color color-text-light0



@media (max-width: 900px)
	#app
		padding-left 0
