@import "lib"

#app
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background border-dark
	color text-dark
	padding 0 0 0 301px
	overflow-y auto
	display flex
	flex-flow column



.categories
	position absolute
	left 0
	top 0
	bottom 0
	width 300px


.form-box
.table
	min-width 600px

.table
	flex 1
	margin-top 1px
