@import "lib"

#app
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background border-dark
	color text-dark
	padding 0 0 0 300px
	overflow-y auto
	display flex
	flex-flow column
	transition padding .3s ease-out



.categories
	position absolute
	left 0
	top 0
	bottom 0
	width 299px
	transform translateX(0)
	transition transform .3s ease-out


.table
	flex 1
	margin-top 1px




@media (max-width: 900px)
	.categories
		transform translateX(-100%)

	#app
		padding-left 0
