header {
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	font-size: 14px;
	width: 100%;
	height: 40px;
}


header,
.btn-today,
#month-picker,
#year-picker { position: absolute; top: 0; }

.btn-today,
#month-picker,
#year-picker { height: 100%; }

.btn-today {
	font: inherit;
	border: 1px solid transparent;
	border-width: 0 1px;
	background: #ffffff4d;
	padding-top: 2px;
	text-transform: uppercase;
	width: 90px;
	left: 0;
	transition: left .3s ease-out;
}
.btn-today:active { background-color: #ffffffe6; border-color: #444; color: #000; }



#month-picker { left: 91px; right: 101px; z-index: 1; transition: left .3s ease-out; }
#year-picker { right: 0; width: 100px; }


.is-today .btn-today { left: -91px; }
.is-today #month-picker { left: 0; }