@import "lib"


.table
	overflow-y auto
	padding 0
	cursor default
	font 14/1
	position relative
	bg bg-light
	-webkit-overflow-scrolling touch
	user-select none
	border-bottom border-light

	table
		margin 0 0 -1
		width 100%
		height 100%
		border-collapse collapse
		table-layout fixed

	td
	th
		padding 12 20 10

	.date
		width 120

	.amount
		width 120
		text-align right

	.cat
		width 80
		padding-left 0
		padding-right 0
		text-align center

	thead
	tfoot
		td
		th
			position sticky
			height 36px
			background bg-dark
			font-weight 600
			text-align left

	thead
		td
		th
			top 0
			padding-top 13
			padding-bottom 10
			box-shadow 0 1px 0 border-light

	tfoot
		td
		th
			bottom -1
			border-top transparent
			box-shadow 0 1px 0 border-light inset


	tbody
	tfoot
		.amount::before
			content '€'
			color #666
			margin-right 5

	tbody
		tr:nth-child(odd)
			background bg-superlight

		.table-row:hover
			background accent-light

		tr td
			height 30px

	.row-filler td
		height auto
		padding 0

	.empty-row
		td
			vertical-align middle
			text-align center
			height auto


.table-filter-box
	position fixed
	right 20px
	top 12px

	.btn-search
		font-style normal
		font-size 23px
		position absolute
		top 1px
		left 7px
		color #33333380
		transform rotate(-45deg)

	.btn-clear
		font-style normal
		color #33333380
		position absolute
		padding 3px 3px
		right 4px
		font-size 20px
		display none
		&:hover
			color #333

	.table-filter-input
		size 200 26
		font-weight normal
		padding 5 22 3 30
		text-align center
		text-indent -14px
		bg #fff5

		&:focus
			text-indent 0
			text-align left
			bg bg-superlight


	&.filtered
		.table-filter-input
			bg bg-superlight
			text-indent 0
			text-align left

		.btn-clear
			display inline-block



@media (max-width: 428px)
	.table-filter-box .table-filter-input
		width 100px

@media (max-width: 320px)
	.table-filter-box
		display none
