@import "lib"


.table
	overflow-y auto
	padding 0
	cursor default
	font 14/1
	position relative

	table
		margin 0
		width 100%
		height 100%
		border-collapse collapse
		table-layout fixed

	td
		padding 12 20 10

	.date
		width 80

	.amount
		width 120
		text-align right

	thead
	tfoot
		position sticky
		height 36px
		td
			background #ccc
			font-weight 600
	thead
		top 0
		td
			padding-top 13
			padding-bottom 10

	tfoot
		bottom 0
		width 100%
		position sticky

	tbody
	tfoot
		.amount::before
			content '€'
			color #666
			margin-right 5

	tbody
		tr:nth-child(odd)
			background #fcfcfc

		.table-row:hover
			background #aaa

		tr td
			height 30px

	.row-filler td
		height auto
		padding 0

	.empty-row
		td
			vertical-align middle
			text-align center
			height auto


.table-filter-cell
	width 100%

.table-filter-cell-inner
	position relative
	float left

	.ion-md-search
		position absolute
		top 2px
		left 7px
		font-size 16px
		color #33333380


.table-filter
	size 160 20
	font-weight normal
	padding 1 8 0 24
	font 13
	text-align center
	text-indent -20px

	&:focus
		text-indent 0
		text-align left
