@import "lib"


.table
	flex 1
	margin-top 1px
	overflow-y auto
	padding 0
	cursor default
	font 14/1
	position relative
	bg color-bg-dark0
	-webkit-overflow-scrolling touch
	user-select none
	border-bottom color-bg-dark3

	table
		margin 0 0 -1
		width 100%
		height 100%
		border-collapse collapse
		table-layout fixed

	td
	th
		padding 12 20 10

	.date
		width 120

	.amount
		width 120
		text-align right

	.cat
		width 80
		padding-left 0
		padding-right 0
		text-align center

	thead
	tfoot
		td
		th
			position sticky
			height 36px
			background color-bg-dark1
			font-weight 600
			text-align left

			em
				color color-accent
				padding 0 10

	thead
		td
		th
			top 0
			padding-top 13
			padding-bottom 10
			box-shadow 0 1px 0 color-bg-dark3

	tfoot
		td
		th
			bottom 0
			border-top transparent
			box-shadow 0 1px 0 color-bg-dark3 inset


	tbody
	tfoot
		.amount:not(:empty)::before
			content '€'
			color color-text-lighgt0
			margin-right 5

	tbody
		.table-row:hover
			background color-highlight
			color color-text-light0

		tr.table-row-edited
			background color-accent
			color color-text-dark0

			.pill
				color color-text-light0

		tr.table-row-hidden
			display none

		tr td
			height 30px

	.row-filler td
		height auto
		padding 0

	.empty-row
		td
			vertical-align middle
			text-align center
			height auto


.divisor
	position absolute
	top 1px
	right 30%
	bottom 0
	border-right #4c566a
	// border-left #2e3440
