.calendar {
	--first-day: 1;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
	width: inherit;
	position: relative;
	font: normal 1em sans-serif;
}

.calendar .day-card {
	padding: 20px 0 32px;
	margin-bottom: 2px;
	text-align: center;
	background: #cee;
}

.calendar h1,
.calendar h2 { margin: 0; line-height: 1; font: inherit; text-transform: uppercase; }
.calendar h1 { font-size: 4.6em; }

.calendar nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(7, 1fr);
}

.calendar a {
	padding: 5px 5px 3px 0;
	text-align: right;
	color: inherit;
	text-decoration: none;
}

.calendar .months {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin: -20px 0 0;
	padding: 0 5px;
}
.calendar .months a { padding: 3px 0; }

.calendar .weekdays { border-top: 1px solid #888; border-bottom: 1px solid #888; }
.calendar .weekdays a { background: #ccc; }

.calendar .months a,
.calendar .days a { cursor: pointer; }

.calendar .months a:hover,
.calendar .days a:hover { color: #9bf; }

.calendar .selected { font-weight: bold; color: blue !important; }

.days-28 .day-29, .days-28 .day-30, .days-28 .day-31,
.days-29 .day-30, .days-29 .day-31,
.days-30 .day-31 { display: none; }

.calendar .day-1 { grid-column-start: var(--first-day); }

.year {
	display: flex;
	align-items: stretch;
	justify-content: end;
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
}
.year .filler { flex: 1; }

.year button { background: none; border: none; cursor: pointer; border-radius: 3px; }
.year button:hover { color: blue; }

.year span {
	display: flex;
	align-items: center;
	align-content: center;
	padding-top: 3px;
	margin: 0 3px;
}


