@import "lib"

color-default = nord3


button::-moz-focus-inner
	padding 0 !important
	border 0


.btn
	font inherit
	display inline-block
	padding 5 15
	min-width 24px
	min-height 24px
	margin-bottom 0
	font 15/1.4
	font-weight 100
	height auto;
	text-align center
	white-space nowrap
	vertical-align middle
	cursor default
	border none
	border-radius 3
	user-select none
	box-shadow 0 1px 0 rgba(#000, .8)
	color color-text-light2


	// &.info
	background color-info

	&:focus
		box-shadow 0 0 1px lighten(color-info, 50%)

	&:active
		outline none
		box-shadow none
		transform translateY(1px)
		background darken(color-info, 15%)
		color alpha(color-text-light2, 50%)



	&.success
		background darken(color-success, 30%)

		&:focus
			box-shadow 0 0 1px lighten(color-success, 50%)

		&:active
			background darken(color-success, 15%)


	&.warning
		background color-warning

		&:focus
			box-shadow 0 0 1px lighten(color-warning, 50%)

		&:active
			background darken(color-warning, 15%)


	&.danger
		background color-danger

		&:focus
			box-shadow 0 0 1px lighten(color-danger, 50%)

		&:active
			background darken(color-danger, 15%)



.btn-outline
	background none
	border none
	font-family inherit
	font-size 18px
	line-height 1
	color alpha(color-text-light0, 50%)

	&.success
		color color-success
	&.warning
		color color-warning
	&.danger
		color color-danger

	&:focus
	&:hover
		outline none
		color color-text-light0

	&:active
		color color-text-dark0
