@import "_lib"


.flex-filler
	flex 1

.form
	position relative
	font inherit
	border 1px solid #ccc
	font-size 13px
	width 700
	margin 0 auto

	.form-row
		display flex
		align-items center
		padding 10px


	.form-row-repeat input
		width 60px
		margin 0 5px
		text-align center


	.form-row-repeat
		background #eee


	.form-row-repeat label
		line-height 20px
		display block



.form-row-buttons
	background #eee
	border-top 1px solid #ccc

	button
		margin-left 5px

		&:first-child
			margin-left 0




.subforms
	.form-row
		padding 5px 10px 0

	.form-row:first-child
		padding-top 10px
		padding-bottom 10px


	.form-row:nth-child(2)
		padding-top 10px


	.form-row:last-child
		padding-bottom 10px



.form
	.btn-split
	.btn-unsplit
		width 32px
		padding 5 0




.form .btn-remove
.form .btn-cancel
.form .btn-save
.edit.form .btn-add
	display none


.edit.form
	.btn-remove
	.btn-cancel
	.btn-save
		display block

	.btn-reset
		display none


.subforms
	background #ccc

	.form-row
		justify-content stretch

	.form-row:first-child
		background #eee

	.category
		width 140px

	.description
		flex 1

	.amount
		width 100px
		text-align right

	.form-row select,
	.form-row input
		margin-right 5px

