@import "_lib"


.form
	position relative
	font inherit

	.btn-split
	.btn-unsplit
		width 32px
		padding 5 0

	.btn-remove
	.btn-cancel
	.btn-save
		display none

	&.edit
		.btn-remove
		.btn-cancel
		.btn-save
			display block

		.btn-add
		.btn-reset
			display none

.flex-filler
	flex 1

.form-row
	display flex
	align-items center
	padding 10px 20px


.form-row-repeat
	input
		width 30px
		margin 0 5px
		padding-left 0
		padding-right 0
		text-align center
		-moz-appearance textfield
		appearance textfield

	label
		line-height 20px
		display block



.form-footer
	background #ccc
	border-top 1px solid #aaa
	padding 10px 20px

	button
		margin-left 10px


	.btn-remove
	.btn-reset
		margin-left 0



.subforms
	padding-top 10px

	button
		min-width 0

	.form-row:first-child
		padding-top 10px
		padding-bottom 10px

	.form-row:nth-child(2)
		padding-top 10px

	.form-row:last-child
		padding-bottom 10px


	.form-row
		justify-content stretch

		.select-wrap
		input
			margin-right 5px

	.category
		width 140px

	.description
		flex 1

	.amount
		width 100px
		text-align right
