@import "_lib"


.flex-filler
	flex 1

.form
	position relative
	font inherit
	width 700
	margin 0 auto
	box-shadow 0 1px 5px rgba(#000, .4)
	background #eee

	.btn-split
	.btn-unsplit
		width 32px
		padding 5 0

.form-row
	display flex
	align-items center
	padding 10px 20px


.form-row-repeat
	input
		width 30px
		margin 0 5px
		padding-left 0
		padding-right 0
		text-align center
		-moz-appearance textfield
		appearance textfield

	label
		line-height 20px
		display block



.form-row-buttons
	background #ccc
	border-top 1px solid #aaa
	padding 20px

	button
		margin-left 10px

	.btn-remove
	.btn-reset
		margin-left 0



.subforms
	padding-top 10px

	.form-row:first-child
		padding-top 10px
		padding-bottom 10px

	.form-row:nth-child(2)
		padding-top 10px

	.form-row:last-child
		padding-bottom 10px


	.form-row
		justify-content stretch

		.select-wrap
		input
			margin-right 5px

	.category
		width 140px

	.description
		flex 1

	.amount
		width 100px
		text-align right


.form
	.btn-remove
	.btn-cancel
	.btn-save
		display none

	&.edit
		.btn-remove
		.btn-cancel
		.btn-save
			display block

		.btn-add
		.btn-reset
			display none
