@import "_lib"

#app
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	padding 0 0 20
	display flex
	flex-flow column
	justify-content stretch
	overflow-y auto


.form-box
.table
	box-shadow 0 1px 5px rgba(#000, .4)
	width 600
	background #eee
	margin-left 20px

.form-box
	margin-top 20px
	margin-bottom 20px
