@import "lib"


.table
	height 100%
	overflow-y auto
	padding 0
	cursor default
	font 14/1

	table
		margin 0
		width 100%
		border-collapse collapse
	td
		padding 8 20 6

	.amount
		text-align right

	thead
	tfoot
		position sticky
		td
			background #ccc
			font-weight 600
	thead
		top 0
		td
			padding-top 13
			padding-bottom 10

	tfoot
		bottom 0

	tbody
	tfoot
		.amount::before
			content '€'
			color #666
			margin-right 5
	tbody
		tr:nth-child(odd)
			background #fcfcfc

		tr:hover
			background #aaa



.table-filter
	size 160 20
	font-weight normal
	padding 1 8 0
	font 13
	text-align center

	&:focus
		text-align left
