@import "_lib"

.year-month-picker
	position relative
	-moz-user-select none
	user-select none
	font-size 20px
	display flex
	align-items stretch
	justify-content center
	padding 2px 0 0
	height 50px
	background #ccc
	border-bottom 1px solid #aaa

	.btn-today
	.btn-prev
	.btn-next
		border 1px solid transparent
		background none
		border-radius 4px
		font-size inherit
		margin 10px
		color #888

		&:focus
		&:hover
			border-color #333
			color #333

	.day
		height 100%
		display flex
		align-items center
		padding 1px 10px 0

	.btn-today
		position absolute
		height 27px
		top 2px
		left 10px

	&.is-today .btn-today
		opacity 0
		pointer-events none
