.month-picker {
	-moz-user-select: none;
	user-select: none;
	display: flex;
	height: 100%;
	font: inherit;
	overflow: auto;
}


.month {
	position: relative;
	font: inherit;
	text-transform: uppercase;
	flex: 1;
	border: none;
	background-color: rgba(255,255,255,0.3);
	height: 100%;
	border: 1px solid transparent;
	border-width: 0 1px;
	padding-top: 2px;
	color: rgba(0,0,0,.6);
	overflow: hidden;
}


.month.selected {
	background-color: rgba(255,255,255,0.9);
	border-color: #444;
	color: rgba(0,0,0,1);
}


.month.current::after {
	--dot-size: 8px;

	content: '';
	display: block;
	width: var(--dot-size);
	height: var(--dot-size);
	border-radius: var(--dot-size);
	background: linear-gradient(#205DFFFF, #184ACAFF);
	box-shadow: 0 0 1px 1px #205DFF88;
	position: absolute;
	left: 50%;
	bottom: -3px;
	transform: translateX(-50%);
	opacity: 0.8;
}
