@import "_lib"

default-color = #777
info-color = #1a82fb
positive-color = #57901D
negative-color = #9a1616
warning-color = #fa6800


.btn
	show 1;
	padding 5 20
	margin-bottom 0;
	font 13/1.4
	height auto;
	text-align center
	white-space nowrap
	vertical-align middle
	cursor default
	bg none
	border transparent
	border-radius 4
	shadow 0 1 1 #000 .06;
	-webkit-app-region no-drag
	color #fff


	&:focus
		outline none; shadow none;


	// default
	border-color lighten(default-color, 15%)
	border-bottom-color darken(default-color, 15%)
	gradient lighten(default-color, 10%) darken(default-color, 10%)
	&:active
		gradient default-color darken(default-color, 15%)
		color #fff8



	&.success
		border-color lighten(positive-color, 15%)
		border-bottom-color darken(positive-color, 15%)
		gradient lighten(positive-color, 10%) darken(positive-color, 10%)

		&:active
			gradient positive-color darken(positive-color, 15%)


	&.info
		border-color lighten(info-color, 15%)
		border-bottom-color darken(info-color, 15%)
		gradient lighten(info-color, 10%) darken(info-color, 10%)

		&:active
			gradient info-color darken(info-color, 15%)


	&.danger
		border-color lighten(negative-color, 15%)
		border-bottom-color darken(negative-color, 15%)
		gradient lighten(negative-color, 10%) darken(negative-color, 10%)

		&:active
			gradient negative-color darken(negative-color, 15%)


	&.warning
		border-color lighten(warning-color, 15%)
		border-bottom-color darken(warning-color, 15%)
		gradient lighten(warning-color, 10%) darken(warning-color, 10%)

		&:active
			gradient warning-color darken(warning-color, 15%)
