.flex-filler { flex: 1; }

.form {
	width: inherit;
	position: relative;
	font: inherit;
	border: 1px solid #ccc;
	font-size: 13px;
}

.form-row { display: flex; align-items: center; padding: 10px; }
.form-row-repeat input { width: 40px; margin: 0 5px; text-align: center; }
.form-row-repeat { background: #eee; }
.form-row-repeat label { line-height: 20px; display: block; }

.form-row-buttons { background: #eee; border-top: 1px solid #ccc; }
.form-row-buttons button { margin-left: 5px; }
.form-row-buttons button:first-child { margin-left: 0; }


.btn-remove,
.btn-cancel,
.btn-save,
.form.edit .btn-add { display: none; }

.form.edit .btn-remove,
.form.edit .btn-cancel,
.form.edit .btn-save { display: block; }



.subforms { background: #ccc; }
.subforms .form-row { justify-content: stretch; }
.subforms .form-row:first-child { background: #eee; }
.subforms .category { width: 140px; }
.subforms .description { flex: 1; }
.subforms .amount { width: 100px; text-align: right; }
.subforms button { width: 40px; overflow: hidden; }
.subforms .form-row select,
.subforms .form-row input { margin-right: 5px; }




input {
    display: block;
    width: 100%;
    padding: .39rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


select {
	font: inherit;
	font-size: 1rem;
	line-height: 1.6;
	display: inline-block;
	width: 100%;
    color: #495057;
	padding: .4rem 1.75rem .3rem .75rem;
	height: calc(2.25rem + 2px);
	vertical-align: middle;
	background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	background-size: auto auto;
	background-size: 8px 10px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select:focus,
input:focus { outline: 0; border-color: #80bdff; box-shadow: 0 0 0 .2rem #007bff4d; }


button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:disabled { opacity: 0.65; }
button:not(:disabled) { cursor: pointer; }
button:not(:disabled):active { background-image: none; }


.btn-primary { color: #fff; background-color: #007bff; border-color: #007bff; }
.btn-primary:hover { color: #fff; background-color: #0069d9; border-color: #0062cc; }
.btn-primary:focus { box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
.btn-primary:disabled { color: #fff; background-color: #007bff; border-color: #007bff; }
.btn-primary:not(:disabled):active { color: #fff; background-color: #0062cc; border-color: #005cbf; }
.btn-primary:not(:disabled):active:focus { box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-secondary { color: #fff; background-color: #6c757d; border-color: #6c757d; }
.btn-secondary:hover { color: #fff; background-color: #5a6268; border-color: #545b62; }
.btn-secondary:focus { box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }
.btn-secondary:disabled { color: #fff; background-color: #6c757d; border-color: #6c757d; }
.btn-secondary:not(:disabled):active { color: #fff; background-color: #545b62; border-color: #4e555b; }
.btn-secondary:not(:disabled):active:focus { box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }

.btn-success { color: #fff; background-color: #28a745; border-color: #28a745; }
.btn-success:hover { color: #fff; background-color: #218838; border-color: #1e7e34; }
.btn-success:focus { box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
.btn-success:disabled { color: #fff; background-color: #28a745; border-color: #28a745; }
.btn-success:not(:disabled):active { color: #fff; background-color: #1e7e34; border-color: #1c7430; }
.btn-success:not(:disabled):active:focus { box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }

.btn-warning { color: #212529; background-color: #ffc107; border-color: #ffc107; }
.btn-warning:hover { color: #212529; background-color: #e0a800; border-color: #d39e00; }
.btn-warning:focus { box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
.btn-warning:disabled { color: #212529; background-color: #ffc107; border-color: #ffc107; }
.btn-warning:not(:disabled):active { color: #212529; background-color: #d39e00; border-color: #c69500; }
.btn-warning:not(:disabled):active:focus { box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }

.btn-danger { color: #fff; background-color: #dc3545; border-color: #dc3545; }
.btn-danger:hover { color: #fff; background-color: #c82333; border-color: #bd2130; }
.btn-danger:focus { box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
.btn-danger:disabled { color: #fff; background-color: #dc3545; border-color: #dc3545; }
.btn-danger:not(:disabled):active { color: #fff; background-color: #bd2130; border-color: #b21f2d; }
.btn-danger:not(:disabled):active:focus { box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
