@import "lib"

.categories

	form
		background color-bg-dark1
		margin 0 0 1px
		padding 10px 0


	.form-row
		.select-wrap
		&>input
			flex 1

		.btn-reset
		.btn-cancel
			margin-right 10px


	&.view
		form
			display none


	&.add
	&.edit
		form
			display block

