@import "lib"

.categories

	h1
	form
		background bg-dark
		margin 0 0 1px
		padding 10px 0

	h1
		font-size 20px
		height 49px
		display flex
		align-items center
		justify-content center

		button
			position absolute
			right 8px

	.form-row
		.select-wrap
		&>input
			flex 1

		.btn-cancel
			margin-right 10px

	.cat-groups
		margin 0 0 0 0
		padding 0
		list-style none

	.editable-cat
		cursor default
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center
		cursor pointer
		&:hover
			background border-dark

	h2.editable-cat
		margin 2 0 5
		font-size 17px
		padding 15px 20px
		&:not(:first-child)
			margin 20 0 5
			border-top border-dark


	li.editable-cat
		padding 5px 20px


	.keys
		color text-light
		display block
		width 100%
		font-size 13px
		padding 5px 0 0

		&:empty
			display none

	.sum
		bg bg-dark
		border-radius 20px
		font-weight normal
		font-size .8em
		padding 4 8 2

		&:empty
			display none


	.categories-wrap
		bg bg-light
		overflow-y auto
		position absolute
		top 50px
		bottom 0
		width 100%


	.no-results
		text-align center
		top 30%
		position relative

	&.view
		form
			display none

		.ion-md-settings
			display block

		.ion-md-close
			display none

	&.add
	&.edit
		form
			display block

		.ion-md-settings
			display none

		.ion-md-close
			display block

		.categories-wrap
			top 241px

		.editable-cat.in-edit
			background accent-color
