@import "lib"

.categories
	position absolute
	left 0
	top 0
	bottom 0
	width 299px
	transform translateX(0)
	transition transform .3s ease-out

	h1
	form
		background color-bg-dark1
		margin 0 0 1px
		padding 10px 0

	h1
		font-size 20px
		height 49px
		display flex
		align-items center
		justify-content space-between
		padding 0 13 0 20

		.btn-outline
			font-size 30px
			line-height 22px
			padding 2 7 6


	.form-row
		.select-wrap
		&>input
			flex 1

		.btn-cancel
			margin-right 10px

	.subcats
		margin 0 0 0 0
		padding 0
		list-style none

	.editable-cat
		cursor default
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center
		cursor pointer
		&:hover
			background color-highlight

		&.selected
			box-shadow 5px 0 0 color-accent inset;


	h2.editable-cat
		margin 2 0 5
		font-size 17px
		padding 15 20 10 20
		position relative
		&:not(:first-child)
			margin 20 0 5
			border-top color-bg-dark3

		.pill
			page-break-after always

		.cat-percent-wrapper
			height 7px
			margin 10 0 0
			width 100%
			bg color-bg-dark3

		.cat-percent
			height 100%
			display block

		&.income .cat-percent
			background color-accent-alt
		&.expense .cat-percent
			background color-accent

		.cat-linebreak
			width 100%

	li.editable-cat
		padding 5 20 5 20


	.keys
		color alpha(color-text-light0, 50%)
		display block
		width 100%
		font-size 13px
		padding 5px 0 0
		word-wrap break-word

		&:empty
			display none

	.categories-wrap
		bg color-bg-dark0
		overflow-y auto
		position absolute
		top 50px
		bottom 0
		width 100%
		-webkit-overflow-scrolling touch
		user-select none


	.no-results
		text-align center
		top 30%
		position relative

	&.view
		form
			display none

		.btn-settings
			display block
			padding-top 6px

			svg
				width 22px

		.btn-close
			display none

	&.add
	&.edit
		form
			display block

		.btn-settings
			display none

		.btn-close
			display block

		.categories-wrap
			top 274px

		.editable-cat.in-edit
			background color-accent



@media (max-width: 900px)
	.categories
		transform translateX(-100%)
